.Menu {
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  background: linear-gradient(
    90deg,
    rgba(220, 186, 20, 1) 0%,
    rgba(0, 176, 212, 1) 34%,
    rgba(160, 4, 115, 1) 100%
  );
  position: fixed;

  width: 100%;
  height: 50px;
  z-index: 1;
}
a {
  // color: #dcb253;
  color: #f9ebeb;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 20px;
}
.decolinkMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  margin-left: 50px;
}
.orgaLink {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .Menu {
    font-size: 15px;

    background: linear-gradient(
      90deg,
      rgba(255, 255, 0, 1) 0%,
      rgba(0, 188, 212, 1) 50%,
      rgba(238, 130, 238, 1) 100%
    );
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  a {
    color: #052c3d;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;

    text-decoration: none;
    font-size: 10px;
  }
  .orgaLink {
    display: flex;
    justify-content: center;
  }
  .decolinkMenu {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .Menu {
    font-size: 15px;

    background: linear-gradient(
      90deg,
      rgba(255, 255, 0, 1) 0%,
      rgba(0, 188, 212, 1) 50%,
      rgba(238, 130, 238, 1) 100%
    );
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  a {
    color: #052c3d;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;

    text-decoration: none;
    font-size: 10px;
  }
  .orgaLink {
    display: flex;
    justify-content: center;
  }
  .decolinkMenu {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 410px) {
  .Menu {
    font-size: 15px;

    background: linear-gradient(
      90deg,
      rgba(255, 255, 0, 1) 0%,
      rgba(0, 188, 212, 1) 50%,
      rgba(238, 130, 238, 1) 100%
    );
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  a {
    color: #052c3d;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;

    text-decoration: none;
    font-size: 10px;
  }
  .orgaLink {
    display: flex;
    justify-content: center;
  }
  .decolinkMenu {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 390px) {
  .Menu {
    font-size: 15px;

    background: linear-gradient(
      90deg,
      rgba(255, 255, 0, 1) 0%,
      rgba(0, 188, 212, 1) 50%,
      rgba(238, 130, 238, 1) 100%
    );
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  a {
    color: #052c3d;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;

    text-decoration: none;
    font-size: 10px;
  }
  .orgaLink {
    display: flex;
    justify-content: center;
  }
  .decolinkMenu {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
