.NavBar {
  padding: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color:#1a5961;
  
}
a {
   color: #DCB253;

  text-decoration: none;
}
