* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../../assets/fond-ecran/blanc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.h1 {
  display: flex;
  justify-content: center;

  margin-top: 100px;
  margin-bottom: 100px;
  color: rgb(2, 2, 2);
}


