.HomePresentation {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .HomePicture {
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
      margin-top: 50px;
      border-radius: 100%;
      height: 400px;
      width: 400px;
    }
  }

  & .TextHome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    & p {
      height: 400px;
      width: 800px;
    }
  }
}
.fleche-img {
  max-width: 80px;
  display: block;
  margin: 0 auto;
}
