.HomePresentation {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .HomePicture {
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
      margin-top: 100px;
      border-radius: 100%;
      height: 400px;
      width: 400px;
    }
  }

  & .TextHome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    & p {
      height: 400px;
      width: 800px;
    }
  }
}
.fleche-img {
  max-width: 80px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .HomePresentation {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .HomePicture {
      display: flex;
      justify-content: center;
      align-items: center;
      & img {
        margin-top: 50px;
        border-radius: 100%;
        height: 300%;
        width: 300px;
      }
    }
  }
  .TextHome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    & p {
      margin-left: 50px;
      margin-right: 50px;
      font-size: 15px;
    }
  }
}
@media (max-width: 480px) {
  .HomePresentation .TextHome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #000;
    font-size: 20px;
    height: 500px;

    & .HomePicture {
      display: flex;
      justify-content: center;
      align-items: center;
      & .picture {
        margin-top: 50px;
        border-radius: 100%;
        height: 400px;
        width: 400px;
      }
    }

    & p {
      height: auto;
      font-size: 12px;
    }
  }
  .containerFleche {
    margin-bottom: 10px;
  }
  .fleche-img {
    max-width: 40px;
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 390px) {
  .HomePresentation {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .HomePicture {
      display: flex;
      justify-content: center;
      align-items: center;
      & .picture {
        margin-top: 50px;
        border-radius: 100%;
        height: 400px;
        width: 400px;
      }
    }
    & .TextHome {
      width: auto;
      height: auto;
      & p {
        height: auto;
        font-size: 12px;
      }
    }
  }
  .containerFleche {
    margin-bottom: 10px;
  }
  .fleche-img {
    max-width: 40px;
    display: block;
    margin: 0 auto;
  }
}
